body{
    margin: 0;
    background-color: #272727;
}
.backgroundbar{
    align-content: center;
    background-color: #1f1f1f;
    padding: 25px;
    overflow: hidden;
    text-align: center;
}
.backgroundbar a{
    background-color: #1f1f1f;
    color: aliceblue;
    margin: 0;
    padding: 20px 5%;
    font-weight: 450;
    transition-duration: 0.6s;
    text-decoration: none;
    border-style:solid;
    border-width: 0px;
    border-bottom-width: 1px;
    border-bottom-color: #1f1f1f;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.backgroundbar a:hover{
    background-color: #2b2b2b;
    padding: 20px 11%;
    font-weight: 600;
    border-bottom-color: #ffffff;
}
.creditsBar {
  text-align: center;
  text-decoration: none;
  padding: 35px;
  font-size: 35px;
}
.creditsBar a{
  padding: 10px;
  color: #ffffff;
}
.creditbox{
  background-color: #ffffff;
  width: min-content;
  padding: 10px;
  text-decoration: none;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}
.creditbox:hover{
  background-color: #272727;
  width: min-content;
  padding: 10px;
  text-decoration: none;
}
h1{
    text-align: center;
    color: #ffffff;
}
img{
    align-self: center;
    width: 30%;
    height: 25%;
}
.redtext{
color: #FF0000;
}