.linia{
    background-color:rgb(64, 71, 64);
    align-content: center;
    padding: 35px;
    overflow: hidden;
    text-align: center;
}
.textbox{
    width: 100%;
    align-items: center;  
    text-align: center;    
    align-content: center;
}
.textbox p{ 
    width: 80%;
    align-self: center;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    color: black;     
    padding: 0px;
    margin: 0px 10%;   
}
body{
    margin: 0;
    background-color: rgb(232, 255, 243);
}
.oddzielenie{
    padding: 35px;
}
.tytul{
    font-size: xx-large;
    font-weight: 500;
    border: solid;
    border-width: 0px;
    border-bottom-width: 3px;
    border-color: blueviolet;
}
.normalny{
    font-size: x-large;
    font-weight: 499;
}
img{
    width: 350px;
    height: 350px;
}
.navbar{
    align-content: center;
    padding: 45px;
    overflow: hidden;
    text-align: center;
}
.navbar a{
    color: black    ;
    background-color: white;
    align-content: center;
    padding: 15px;
    overflow: hidden;
    text-align: center;
    font-weight: 650;
    border: solid;
    border-color: rgb(255, 255, 255);
    transition-duration: 0.5s;
}
.navbar a:hover{
    background-color: #c0c0c0;
    padding: 25px;
    font-weight: 1000;
    border: solid;
}